<!-- Here we tell the view that it will receive a model of type List<Category> 
	We send this model to the list from the Category controller-->
@model List<Category>; 

<div class="container ">

	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">
				Category List
			</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller = "Category" asp-action="Create" class="btn btn-primary"> <!--As we already created an action method in the controller, we just need to add the name as asp-action -->
				<i class="bi bi-file-earmark-plus-fill"></i> Create New Category <!-- still is better to specify the controller, for when the project has many files-->
			</a>
		</div>
	</div>


<table class="table table-bordered table-striped">
	<thead>
		<tr class="table-info">
		<th>Category Name</th>
		<th>Display Order</th>
	</tr>
	</thead>
	<tbody> <!-- We can use C# code, in this case we are using the model received from the controller
	and we are using it to extract the data in a foreach cycle, its cycling through the category list and
	displaying the name and display order in the rows of the html table
	-->
		@foreach(var obj in Model)
		{
			<tr class="table-dark">
				<td>@obj.Name</td>
				<td>@obj.DisplayOrder</td>
			</tr>
		}
	</tbody>
</table>

</div>